<!DOCTYPE HTML>
<html>
	<head>
		<title>About Me - Bruno Akune</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="/">Bruno Akune</a></h1>
					<p>Research, Data, SaaS & Customer Experience</p>
					<ul class="actions">
						<li><a href="/" class="button primary icon solid fa-home">Home</a></li>
						<li><a href="https://www.linkedin.com/in/brunoakune/" class="button icon brands fa-linkedin">LinkedIn</a></li>
					</ul>
				</div>
				<div class="image phone"><div class="inner"><img src="static/images/profile-photo.jpg" alt="Bruno's profile picture" /></div></div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>About Me</h2>
					<p><strong>Hi there!</strong> I'm Bruno, Business Analyst student at Cambrian College.<br />
					Currently looking for internships or co-op positions in Data Analysis,<br />
					Product Analyst or Business Analyst roles.</p>
				</header>
			</section>

		<!-- Skills -->
			<section id="skills" class="wrapper">
				<div class="inner">
					<header>
						<h2>Skills</h2>
					</header>
					
					<div class="row gtr-uniform">
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-chart-line" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Mixed Method Research</h3>
								<p>Experience using a wide variety of research methods such as interviews and open-ended research. Using R and Python to conduct any statistical analysis required.</p>
							</div>
						</div>
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-chart-bar" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Data Visualization</h3>
								<p>Utilizing Excel, Tableau, Power BI and ArcGIS Pro to design and develop dashboards, maps or other visualization mediums.</p>
							</div>
						</div>
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-database" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Data Analysis</h3>
								<p>Utilizing data to tell a story is wonderful. Even better when you know how to design presentations to communicate it.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Hobbies -->
			<section id="hobbies" class="wrapper style2">
				<div class="inner">
					<header>
						<h2>Hobbies</h2>
					</header>
					
					<div class="row gtr-uniform">
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-palette" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Digital Illustration</h3>
								<p>I enjoy doing digital illustrations and just practicing my artistic skills (drawing and painting) in general.</p>
							</div>
						</div>
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-laugh" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Comedy</h3>
								<p>I enjoy watching comedy shows, shorts, videos to help me deal with any type of stress.</p>
							</div>
						</div>
						<div class="col-4 col-12-medium">
							<div class="box" style="text-align: center;">
								<span class="icon solid fa-torii-gate" style="font-size: 3em; color: #8cc9f0;"></span>
								<h3>Japanese Culture</h3>
								<p>Having a japanese background, I was raised with a lot of japanese concepts and culture, so I always try to learn more about it.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.linkedin.com/in/brunoakune/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<p class="copyright">&copy; 2024 Bruno Akune. Design: <a href="http://html5up.net">HTML5 UP</a></p>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>
