<!DOCTYPE HTML>
<html>
        <head>
                <title>Research - Bruno Akune</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="static/assets/css/main.css" />
                <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
        </head>
        <body class="is-preload">

                <!-- Header -->
                        <header id="header">
                                <div class="content">
                                        <h1><a href="/">Bruno Akune</a></h1>
                                        <p>Qualitative Research Projects<br />
                                        User Research & In-Depth Interviews</p>
                                        <ul class="actions">
                                                <li><a href="/" class="button primary icon solid fa-home">Home</a></li>
                                        </ul>
                                </div>
                                <div class="image phone"><div class="inner"><img src="static/images/Interview.jpg" alt="Interview" /></div></div>
                        </header>

                <!-- One -->
                        <section id="one" class="wrapper style2 special">
                                <header class="major">
                                        <h2>Centre for Elder Research (CER)</h2>
                                        <p>User research for healthcare SaaS company partnered with CER</p>
                                </header>
                        </section>

                <!-- Two -->
                        <section id="two" class="wrapper">
                                <div class="inner">
                                        <div class="row gtr-uniform">
                                                <div class="col-4 col-12-medium">
                                                        <h3>Overview</h3>
                                                        <p>The Centre for Elder Research(CER) contracted me to conduct academic and user research for one of Tyze's products. Tyze Networks is a healthcare SaaS company partnered with the CER to research the caregiving industry in Canada.</p>
                                                </div>
                                                <div class="col-4 col-12-medium">
                                                        <h3>Challenge</h3>
                                                        <p>Utilize the User Centered Design methodology to support the research team streamline research and uncover insights.</p>
                                                </div>
                                                <div class="col-4 col-12-medium">
                                                        <h3>Responsibilities</h3>
                                                        <ul>
                                                                <li>Qualitative research</li>
                                                                <li>Primary and Secondary Research</li>
                                                                <li>Graphic Design</li>
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Process -->
                        <section id="process" class="wrapper style2 special">
                                <div class="inner">
                                        <header class="major">
                                                <h2>Process</h2>
                                        </header>
                                        <span class="image fit"><img src="static/images/CER/Process.jpg" alt="Research Process" /></span>
                                </div>
                        </section>

                <!-- Environmental Scan -->
                        <section id="scan" class="wrapper">
                                <div class="inner">
                                        <header>
                                                <h2>01 Environmental Scan & Secondary Research</h2>
                                        </header>
                                        <p>I organized over 50 of the 120 desk research materials into two excel databases and did an environmental scan to finish the organization. My contribution involved filling research gaps, market research and creating data visualization graphics.</p>
                                        
                                        <div class="box alt">
                                                <span class="image fit">
                                                        <img src="static/images/CER/Desk_Res.jpg" alt="Research process" />
                                                </span>
                                                <p><em>This is just a visual of my research process.</em></p>
                                        </div>
                                </div>
                        </section>

                <!-- Surveys and Interviews -->
                        <section id="surveys" class="wrapper style2">
                                <div class="inner">
                                        <header>
                                                <h2>02 Surveys and User Interviews</h2>
                                        </header>
                                        
                                        <h3>Surveys</h3>
                                        <p>I designed two surveys for the different types of users.</p>
                                        
                                        <div class="row gtr-uniform">
                                                <div class="col-6 col-12-medium">
                                                        <div class="box">
                                                                <h4>Unpaid Caregivers</h4>
                                                                <p>People that offer care to a person in their social circle without being compensated for their time or service.</p>
                                                                <p><strong>Sample questions asked:</strong></p>
                                                                <ul>
                                                                        <li>Would a dedicated application help you?</li>
                                                                        <li>What is your age?</li>
                                                                        <li>What are your duties as a caregiver?</li>
                                                                </ul>
                                                        </div>
                                                </div>
                                                <div class="col-6 col-12-medium">
                                                        <div class="box">
                                                                <h4>Paid Caregivers</h4>
                                                                <p>Caregivers get paid by a company or organization to help families care for a family member.</p>
                                                                <p><strong>Sample questions asked:</strong></p>
                                                                <ul>
                                                                        <li>Does your organization interact with unpaid caregivers?</li>
                                                                        <li>What is your view on unpaid caregivers?</li>
                                                                        <li>Does your company require unpaid caregivers to be present when making care decisions?</li>
                                                                </ul>
                                                        </div>
                                                </div>
                                        </div>
                                        
                                        <p>The purpose of the surveys was to quickly collect data from a large sample of individuals. <strong>We gathered responses from over 200 caregivers, including both surveys.</strong> Another goal was to recruit people interested in the project for in-depth interviews.</p>
                                        
                                        <h3>User Interviews</h3>
                                        <p><strong>We conducted 8 remote in-depth structured interviews to gather qualitative information about how technology impacts their process.</strong></p>
                                        
                                        <div class="box">
                                                <p><strong>Some of the questions we asked during the interviews:</strong></p>
                                                <ul>
                                                        <li>How would you rate your comfort level with technology?</li>
                                                        <li>How did you become a caregiver?</li>
                                                        <li>In your opinion what would make shared family decision-making easier?</li>
                                                        <li>Would a dedicated application help you manage the care team?</li>
                                                </ul>
                                        </div>
                                        
                                        <p>The interview helped us understand care giving best practices and limitations. It also allowed us to learn more about people's situations and what caregivers need to make their job easier → communicate our user needs to stakeholders.</p>
                                </div>
                        </section>

                <!-- Evaluation -->
                        <section id="evaluation" class="wrapper">
                                <div class="inner">
                                        <header>
                                                <h2>03 Evaluation</h2>
                                        </header>
                                        
                                        <p>I transcribed and analyzed 4 of these 8 interviews and did all the quantitative analysis of the 200 survey results. I focused on sharing the transcripts and breaking down the data into codes to facilitate research analysis. I used the following methods to organize and synthesize the data gathered.</p>
                                        
                                        <div class="box alt">
                                                <span class="image fit">
                                                        <img src="static/images/CER/Venn_dia.jpg" alt="Venn Diagram" />
                                                </span>
                                                <p><em>This is just a visual of my research process, to avoid sharing personal information about my participants I will reference my research and how it impacted my process as I show my design process.</em></p>
                                        </div>
                                        
                                        <h4>Visualizing Data</h4>
                                        <div class="box">
                                                <p>I organized all the survey results and plugged them into MURAL to help stakeholders visualize the data and survey insights. MURAL allowed adding visuals(graphs, charts) that made sharing and collaborating more dynamic and transparent.</p>
                                                <p><strong>Some of the survey data:</strong></p>
                                                <ul>
                                                        <li>Communicating with healthcare and other professionals was ranked as the number one challenge for the survey participants</li>
                                                        <li>A total of 66% of unpaid caregivers reported that they provided non-healthcare-related support to the care recipient</li>
                                                        <li>Over 70% of the respondents stated a dedicated application would help them manage all or most of the care coordination. Numbers come from the report published by the CER.</li>
                                                </ul>
                                        </div>
                                        
                                        <h4>Theme Grouping</h4>
                                        <div class="box">
                                                <p>Alongside another researcher, we grouped the themes found during the interviews. The job was to dissect the interviews and help senior researchers and stakeholders that didn't have the time to watch and analyze them keep up with the project.</p>
                                                <p><strong>Some of the themes involve:</strong></p>
                                                <ul>
                                                        <li>Carrying out the numerous responsibilities of providing care often significantly impacts the unpaid caregivers' well-being and self-care.</li>
                                                </ul>
                                        </div>
                                        
                                        <h4>Insight Interpretation</h4>
                                        <p>We used the Venn diagram with another researcher and mapped the relationship between the three themes found. We used this method to find the central insight of the interview. This insight would be used to draft the report and help Tyze Networks discover new product recommendations for their products.</p>
                                </div>
                        </section>

                <!-- Research Report -->
                        <section id="report" class="wrapper style2">
                                <div class="inner">
                                        <header>
                                                <h2>04 Research Report</h2>
                                        </header>
                                        
                                        <p>You can check the official report published on the <a href="https://source.sheridancollege.ca/centres_elder_caregiver/">CER website</a>. The results of this research:</p>
                                        
                                        <div class="box">
                                                <ul>
                                                        <li>Implementing a formal mechanism to communicate and coordinate care with healthcare and service organizations can relieve many of the challenges informal caregivers face. For these providers, caregivers can provide invaluable timely information and facilitate the coordination of care services.</li>
                                                </ul>
                                        </div>
                                        
                                        <p>→ Tyze will use this information to develop their next-generation application and convey its benefits to potential clients.</p>
                                </div>
                        </section>

                <!-- Footer -->
                        <footer id="footer">
                                <ul class="icons">
                                        <li><a href="#" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                </ul>
                                <p class="copyright">&copy; 2024 Bruno Akune. Design: <a href="http://html5up.net">HTML5 UP</a></p>
                        </footer>

                <!-- Scripts -->
                        <script src="static/assets/js/jquery.min.js"></script>
                        <script src="static/assets/js/jquery.scrolly.min.js"></script>
                        <script src="static/assets/js/browser.min.js"></script>
                        <script src="static/assets/js/breakpoints.min.js"></script>
                        <script src="static/assets/js/util.js"></script>
                        <script src="static/assets/js/main.js"></script>

        </body>
</html>
