<!DOCTYPE HTML>
<html>
        <head>
                <title>R Projects - Bruno Akune</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="static/assets/css/main.css" />
                <noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
        </head>
        <body class="is-preload">

                <!-- Header -->
                        <header id="header">
                                <div class="content">
                                        <h1><a href="/">Bruno Akune</a></h1>
                                        <p>Using R to compare study hours across students from different schools and programs</p>
                                        <ul class="actions">
                                                <li><a href="/" class="button primary icon solid fa-home">Home</a></li>
                                        </ul>
                                </div>
                                <div class="image phone"><div class="inner"><img src="static/images/Study.jpg" alt="R Programming" /></div></div>
                        </header>

                <!-- The Impact -->
                        <section id="impact-r" class="wrapper">
                                <div class="inner">
                                        <header>
                                                <h2>About this case study</h2>
                                        </header>
                                        <p> In QMM7300 and QMM7301 all students collected personalized data to analyze. Using RMarkdown to analyze this data, I created this report about study patterns and behaviours.
                                        </p>
                                        <p>This case study utilizes these 3 methods to analyze students study habits: ANOVA, chi-square tests, time series analysis</p>
                                
                                        <ul class="actions">
                                                <li><a href="/rcasestudy" class="button primary icon solid fa-file-alt">View Full Case Study</a></li>
                                                <li><a href="QMM7301-Case-Study-4-Bruno-Akune.html" class="button icon brands fa-github">View Project Code</a></li>
                                        </ul>
                                </div>
                        </section>

                <!-- Skills -->
                        <section id="skills" class="wrapper style2">
                                <div class="inner">
                                        <header>
                                                <h2>Technical Skills</h2>
                                        </header>
                                        
                                        <div class="row gtr-uniform">
                                                <div class="col-3 col-12-small">
                                                        <div class="box" style="text-align: center; padding: 2em 1em;">
                                                                <span class="icon solid fa-chart-area" style="font-size: 3em; color: #8cc9f0;"></span>
                                                                <h4>R Programming</h4>
                                                        </div>
                                                </div>
                                                <div class="col-3 col-12-small">
                                                        <div class="box" style="text-align: center; padding: 2em 1em;">
                                                                <span class="icon solid fa-calculator" style="font-size: 3em; color: #8cc9f0;"></span>
                                                                <h4>Statistics</h4>
                                                        </div>
                                                </div>
                                                <div class="col-3 col-12-small">
                                                        <div class="box" style="text-align: center; padding: 2em 1em;">
                                                                <span class="icon solid fa-vial" style="font-size: 3em; color: #8cc9f0;"></span>
                                                                <h4>Hypothesis Testing</h4>
                                                        </div>
                                                </div>
                                                <div class="col-3 col-12-small">
                                                        <div class="box" style="text-align: center; padding: 2em 1em;">
                                                                <span class="icon solid fa-chart-bar" style="font-size: 3em; color: #8cc9f0;"></span>
                                                                <h4>Data Visualization</h4>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </section>

                <!-- Contact Me -->
                        <section id="contact" class="wrapper special">
                                <div class="inner">
                                        <header class="major">
                                                <h2>Contact Me</h2>
                                                <p>Interested in discussing these projects or potential opportunities?</p>
                                        </header>
                                        <ul class="actions special">
                                                <li><a href="mailto:bruno.akune@gmail.com" class="button primary icon solid fa-envelope">Email Me</a></li>
                                                <li><a href="https://www.linkedin.com/in/brunoakune/" class="button icon brands fa-linkedin">LinkedIn Profile</a></li>
                                        </ul>
                                </div>
                        </section>

                <!-- Footer -->
                        <footer id="footer">
                                <ul class="icons">
                                        <li><a href="https://www.linkedin.com/in/brunoakune/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                        <li><a href="https://github.com/BrunoAkune" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                                </ul>
                                <p class="copyright">&copy; 2024 Bruno Akune. Design: <a href="http://html5up.net">HTML5 UP</a></p>
                        </footer>

                <!-- Scripts -->
                        <script src="static/assets/js/jquery.min.js"></script>
                        <script src="static/assets/js/jquery.scrolly.min.js"></script>
                        <script src="static/assets/js/browser.min.js"></script>
                        <script src="static/assets/js/breakpoints.min.js"></script>
                        <script src="static/assets/js/util.js"></script>
                        <script src="static/assets/js/main.js"></script>

        </body>
</html>
